[project]
	description = Python Data Structures & Algorithms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zile Rehman (rehmanz)
[access "refs/for/refs/*"]
	read = group user/Zile Rehman (rehmanz)
	push = group user/Zile Rehman (rehmanz)
	label-Code-Review = -2..+2 group user/Zile Rehman (rehmanz)
	label-Verified = -1..+1 group user/Zile Rehman (rehmanz)
	rebase = group user/Zile Rehman (rehmanz)
	removeReviewer = group user/Zile Rehman (rehmanz)
	submit = group user/Zile Rehman (rehmanz)
[access "refs/heads/*"]
	read = group user/Zile Rehman (rehmanz)
	create = group user/Zile Rehman (rehmanz)
	push = +force group user/Zile Rehman (rehmanz)
	pushMerge = group user/Zile Rehman (rehmanz)
[access "refs/tags/*"]
	push = +force group user/Zile Rehman (rehmanz)
	pushTag = group user/Zile Rehman (rehmanz)
	pushSignedTag = group user/Zile Rehman (rehmanz)
